<?xml version="1.0"?>
<!--Launches and paremeterizes the point cloud accumulator-->
<launch>
  <!--Launch the nodelet manager-->
<!--  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>-->
  
  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
<!--  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/stereo/points2"/>
    <remap from="~output" to="/stereo/points2b"/>
    <rosparam>
            filter_field_name: z
            filter_limit_min: 0.0
            filter_limit_max: 30.0
            filter_limit_negative: False
            leaf_size: 0.1
          </rosparam>-->
<!--  </node>
  <node pkg="nodelet" type="nodelet" name="voxel_grid_x" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/stereo/points2b"/>
    <remap from="~output" to="/stereo/points2c"/>
    <rosparam>
            filter_field_name: x
            filter_limit_min: -3.0
            filter_limit_max: 3.0
            filter_limit_negative: False
            leaf_size: 0.1
          </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="voxel_grid_y" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/stereo/points2c"/>
    <remap from="~output" to="/stereo/points2_voxelgrid"/>
    <rosparam>
            filter_field_name: y
            filter_limit_min: -4.0
            filter_limit_max: 1.0
            filter_limit_negative: False
            leaf_size: 0.1
      </rosparam>
  </node>-->

  <!-- Lets try to add filters to the cloud here before voxelgrid -->
<!--  <node pkg="nodelet" type="nodelet" name="outlier_removal" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
    <remap from="~input" to="/stereo/points2"/>
    <remap from="~output" to="/stereo/points2d"/>
    <rosparam>
            mean_k: 20
            stddev: 0.1
            negative: False
      </rosparam>
  </node>-->

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="rustbot_accumulate_point_clouds" type="accumulatepointcloud" name="accumulatepointcloud" output="screen">
    <remap from="input" to="/stereo/points2"/>
    <remap from="map" to="map"/>
  </node>
</launch>
