<?xml version="1.0"?>
<!--This launches all the rustbot system-->
<launch>
  <!--arguments-->
  <arg name="do_stereo" default="true"/>
  <arg name="do_fusion" default="false"/>
  <arg name="do_slam" default="true"/>
  <arg name="do_gps" default="true"/>
  <arg name="do_accumulation" default="false"/>
  <arg name="do_zmq_publish" default="true"/>

  <!--This is for running the system computing the stereo (and the slam) from played back offline data-->
  <arg name="online_stereo" default="true"/>
  <!--To launch a gui for tunning the stereo parameters-->
  <arg name="config_stereo" default="false"/>
  <!--The desired frames per second-->
  <arg name="fps" default="1"/>
  <!--Queue size for the stereo images. More queue size better the possibilities to sync, but more memory required-->
  <arg name="queue_size" default="50"/>
  <!--data fusion-->
  <group if="$(arg do_fusion)">
    <include file="$(find rustbot_bringup)/launch/EKF_fusion.launch">
        </include>
  </group>
  <!--GPS drivers should work only on online mode-->
  <group if="$(arg online_stereo)">
    <group if="$(arg do_gps)">
      <include file="$(find rustbot_bringup)/launch/gps.launch">
        </include>
    </group>
  </group>
   <group unless="$(arg do_gps)">
      <node name="imu_republish_to_enu" pkg="rustbot_bringup" type="imu_republish" output="screen">
	<param name="not_sim" value="false"/>
      </node>
    </group>
  <!--Stereo nodes -->
  <group ns="stereo">
    <!--Camera drivers (should work only in online mode)-->
    <group if="$(arg online_stereo)">
      <include file="$(find rustbot_bringup)/launch/left_camera.launch">
        <arg name="fps" value="$(arg fps)"/>
      </include>
      <include file="$(find rustbot_bringup)/launch/right_camera.launch">
        <arg name="fps" value="$(arg fps)"/>
      </include>
    </group>
    <!--Stereo processing-->
    <group if="$(arg do_stereo)">
      <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen">
        <param name="approximate_sync" value="true"/>
        <param name="queue_size" value="$(arg queue_size)"/>
        <rosparam command="load" file="$(find rustbot_calibration)/calibration/stereo_image_proc.yaml"/>
      </node>
    </group>
  </group>
  <!--Configure stereo-->
  <group if="$(arg config_stereo)">
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen">
        </node>
  </group>
  <!--SLAM launch files (several options to do slam. Andry's rtab, Miguel's rtab and Miguel's viso2)-->
  <group if="$(arg do_slam)">
    <!--<include file="$(find rustbot_bringup)/launch/vSLAM_vOdo/crob_play_aux.launch">-->
    <!--</include>-->
    <!--<include file="$(find rustbot_bringup)/launch/vSLAM_vOdo/crob_slam_rtabmapOdometryMapping.launch">-->
    <!--</include>-->
    <!--<include file="$(find rustbot_bringup)/launch/rtab.launch">-->
    <!--</include>-->
	<group if="$(arg do_fusion)">
	    <include file="$(find rustbot_bringup)/launch/viso2.launch">
		</include>
        </group>
	<group unless="$(arg do_fusion)">
	    <include file="$(find rustbot_bringup)/launch/viso2_withtf.launch">
		</include>
        </group>
  </group>
  <!--Point cloud accumulator-->
  <group if="$(arg do_accumulation)">
    <include file="$(find rustbot_bringup)/launch/accumulate.launch">
        </include>
  </group>

  <group if="$(arg do_zmq_publish)">
    <!--SEV zmq+protobuf publisher-->
    <node name="sev_publisher" pkg="rustbot_translation" type="sev_publisher.py" output="screen">
    </node>
  </group>

</launch>
