<?xml version="1.0"?>
<launch>
  <arg name="do_stereo" default="true"/>
  <arg name="config_stereo" default="false"/>
  <arg name="fps" default="20"/>
  <group ns="stereo">
    <group if="$(arg do_stereo)">
      <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen">
        <param name="approximate_sync" value="true"/>
        <rosparam command="load" file="$(find rustbot_calibration)/calibration/stereo_image_proc.yaml"/>
      </node>
    </group>
    <include file="$(find rustbot_bringup)/launch/left_camera.launch">
      <arg name="fps" value="$(arg fps)"/>
    </include>
    <include file="$(find rustbot_bringup)/launch/right_camera.launch">
      <arg name="fps" value="$(arg fps)"/>
    </include>
  </group>
  <group if="$(arg config_stereo)">
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen">
    </node>
  </group>
</launch>
