<?xml version="1.0"?>
<launch>
  <!--full path to the bag file-->
  <arg name="bag"/>
  <param name="/use_sim_time" value="true"/>
  <!--uncompress images-->
  <node pkg="image_transport" type="republish" name="republish_left" output="screen" args="compressed in:=/stereo/left/image_raw raw out:=/stereo/left/image_raw"/>
  <node pkg="image_transport" type="republish" name="republish_right" output="screen" args="compressed in:=/stereo/right/image_raw raw out:=/stereo/right/image_raw"/>
  <node pkg="image_transport" type="republish" name="republish_left_color" output="screen" args="compressed in:=/stereo/left/image_color raw out:=/stereo/left/image_color"/>
  <node pkg="image_transport" type="republish" name="republish_right_color" output="screen" args="compressed in:=/stereo/right/image_color raw out:=/stereo/right/image_color"/>
  <!--playbag bag file-->
  <!--<node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" output="screen" args=" $(arg bag)"/>-->
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" $(arg bag) -l -clock -r 1"/>
  <!--<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" $(arg bag) -clock -s 25 -u 75 -r 0.3"/>-->
</launch>
