<?xml version="1.0"?>
<launch>
  <!--To record uncompressed images-->
  <!--<node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="/stereo/left/image_raw /stereo/left/camera_info /stereo/right/image_raw /stereo/right/camera_info /tf -o /home/$(env USER)/Desktop/sev">-->
  <!--To record compressed images-->
  <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="/stereo/left/image_raw/compressed /stereo/left/camera_info /stereo/right/image_raw/compressed /stereo/right/camera_info /tf /mavros/global_position/raw/fix /mavros/imu/data /mavros/imu/data_raw /mavros/global_position/raw/gps_vel /mavros/global_position/raw/global /stereo_odometry -o /home/$(env USER)/Desktop/sev">
    </node>
</launch>
