<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="camera" default="/stereo"/>

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="base_link"/>
    <param name="approximate_sync" value="true"/>
    <param name="publish_tf" value="false"/>
  </node>
</launch>
